@model Bug315.Models.WorkItemIndexVm
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Model.Count - @Model.WelcomeMessage</h1>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Task/Bug</td>
                    <td>Priority</td>
                    <td>TYPE</td>
                </tr>
            </thead>
            @foreach (var buggy in Model.WorkItemList)
            {
                <tr>
                    <td>@buggy.Title</td>
                    <td>@buggy.Priority</td>
                    <td>@buggy.GetType().Name</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>BUG</h2>
        @foreach(var b in Model.BugList){
            <div>@b.Title <br /> @b.StepsToReproduce</div>
            <hr/>
        }
    </div>
    <div class="col-md-4">
        <h2>Tasks</h2>
        @foreach (var b in Model.TaskList)
        {
            <div>@b.Title <br /> @b.Description</div>
            <hr/>
        }
    </div>
    
</div>